# Dependencias
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Directorio de build de Next.js
/.next/
/out/

# Cache de Firebase CLI
.firebase/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros
.DS_Store
*.pem
